:root {
  background: #ffffff;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
}

/* main container */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* setting up the size */
.container h1 {
  font-size: 5em;
}

/* form field */
.container__item {
  margin-top: 10em;
}
.uppercase {
  text-transform: uppercase;
}

/* for button styling */
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  font-weight: 600;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}
.btn--primary:hover {
  background: rgba(0, 0, 0, 0.8);
}
.btn--primary:active {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -150px;
}

.form__field {
  width: 70vw;
  background: rgb(232, 240, 254);
  color: black;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  border: 0;
  outline: 0;
  padding: 22px 18px;
  transition: 0.3s;
}
.form__field:focus {
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.335);
  border-radius: 35px;
}
.whiteTxt {
  padding-top: 1em;
  color: white;
}

/* properties for the responsive design */
@media only screen and (max-width: 600px) {
  .form__field {
    width: 100%;
    margin: 1em 0;
  }
  .btn--inside {
    margin-left: 0px;
  }
}
